@{
    ViewBag.Title = "Módulo Permissões de acesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/bundles/datatable")
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Módulo Permissões
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><i class="fa fa-shopping-bag"></i> @ViewContext.RouteData.GetRequiredString("controller")</li>
        </ol>
    </section><!--section -->
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="Cadastrar" class="btn btn-info">Novo Acesso</button>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <br /><br />
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Lista de níveis de acesso</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="TabelaAcesso" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Adicionado em
                                        </th>
                                        <th>
                                            Modificado em
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </section><!--section-->
</div><!--div-->

@section modals
{
    @Html.Partial("_ModalSucesso")
    @Html.Partial("_ModalError")
    @Html.Partial("_ModalCadastro")
}

@section scripts {
    @Scripts.Render("~/bundles/js/datatable")
    @Scripts.Render("~/bundles/js/moment")
    @Scripts.Render("~/bundles/js/core")
    <script type="text/javascript" src="@Url.Content("~/Scripts/config/defaults.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/acesso/main.js")"></script>
}