@model Antiguera.Administrador.Models.RomModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @Model.Nome - Detalhes
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Rom")"><i class="fa fa-dashboard"></i> @ViewContext.RouteData.GetRequiredString("controller")</a></li>
            <li class="active"><i class="fa fa-shopping-bag"></i> @ViewContext.RouteData.GetRequiredString("action")</li>
        </ol>
    </section><!--section -->

    <section class="content container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.Nome)<br />
                    @Html.DisplayFor(x => x.Nome)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.Genero)<br />
                    @Html.DisplayFor(x => x.Genero)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.DataLancamento)<br />
                    @Html.DisplayFor(x => x.DataLancamento.ToString("dd/MM/yyyy"))
                </div>
            </div>
            <br />
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.UrlBoxArt))
                {
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.FileBoxArt)<br />
                        @Model.UrlBoxArt.Split('/').Last()
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.UrlArquivo))
                {
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.FileBoxArt)<br />
                        @Model.UrlArquivo.Split('/').Last()
                    </div>
                }
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(x => x.Descricao)<br />
                    @Html.DisplayFor(x => x.Descricao)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-success btn-block" })
                </div>
            </div>
        </div> <!-- /container -->
    </section>
</div>

