@{
    ViewBag.Title = "Módulo Roms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/bundles/datatable")
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Módulo Roms
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><i class="fa fa-shopping-bag"></i> @ViewContext.RouteData.GetRequiredString("controller")</li>
        </ol>
    </section><!--section -->
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Nova rom", "Cadastrar", null, new { @class = "btn btn-info" })
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <br /><br />
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Lista de roms</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="TabelaRom" class="table no-margin">
                                <tr>
                                    <th>
                                        @Html.DisplayName("Nome")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Gênero")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Inserido em:")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Modificado em:")
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </section><!--section-->
</div><!--div-->

@section scripts {
    @Scripts.Render("~/bundles/js/datatable")
    @Scripts.Render("~/bundles/js/moment")
    @Scripts.Render("~/bundles/js/core")
    <script type="text/javascript" src="@Url.Content("~/Scripts/config/defaults.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/rom/main.js")"></script>
}