@model System.Web.Mvc.HandleErrorInfo

@{ 
    Layout = null;
}

@Styles.Render("~/bundles/bootstrap")
@Styles.Render("~/bundles/admin-lte")
@Styles.Render("~/bundles/admin-lte/skins")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<title>Antiguera - @Response.StatusCode - Erro interno</title>

<div class="container">
    <div class="row">
        <img class="img-responsive" style="margin: 50px auto" width="400" src="~/Content/Images/LogoAntiguera2.png" />
    </div>
    <div class="row">
        <h1 class="text-center">@Response.StatusCode - Erro interno!</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 col-xs-12">
                <h3 class="text-center">@(Model?.Exception?.Message)</h3>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/js/bootstrap")
