@model Antiguera.Administrador.Models.ConfigModel

@{
    ViewBag.Title = "Preferências da plataforma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Configurações gerais
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><i class="fa fa-shopping-bag"></i> @ViewContext.RouteData.GetRequiredString("action")</li>
        </ol>
    </section><!--section -->

    <section class="content container-fluid">
        <div class="container">
            <div class="col-md-11 col-danger">
                <div class="alert alert-danger">
                    <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                    <p class="text-center">@ViewBag.ErroMensagem</p>
                </div>
            </div>
    
            <div class="col-md-11 col-success">
                <div class="alert alert-success">
                    <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                    <p class="text-center">@ViewBag.Mensagem</p>
                </div>
            </div>
                

                @Html.HiddenFor(x => x.IdCorBarra)
                @Html.HiddenFor(x => x.IdCorHeader)
                <div class="col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border"><h3 class="box-title">Alterar cor do layout da barra superiror</h3></div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" value="1" class="btn btn-layout-header btn-block btn-primary">Azul</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" value="3" class="btn btn-layout-header btn-block btn-danger">Vermelho</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" value="2" class="btn btn-layout-header btn-block btn-warning">Amarelo</button>
                                </div>
                            </div>
                            <br /><br />
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" value="6" class="btn btn-layout-header btn-block btn-default">Branco</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" value="5" class="btn btn-layout-header btn-block btn-success">Verde</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" value="4" class="btn btn-layout-header btn-block bg-purple">Roxo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box box-default">
                        <div class="box-header with-border"><h3 class="box-title">Alterar cor do layout da barra lateral</h3></div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" value="1" class="btn btn-layout-sidebar btn-block btn-default">Branco</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" value="2" class="btn btn-layout-sidebar btn-block bg-navy">Preto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <button id="salvarConfiguracoes" class="btn btn-success btn-block" type="submit">Salvar</button>
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-default btn-block" })
                        </div>
                    </div>
                </div>
        </div> <!-- /container -->
    </section>
</div>

