@using X.PagedList.Mvc
@model X.PagedList.PagedList<Antiguera.Administrador.Models.JogoModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Módulo Jogos
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><i class="fa fa-shopping-bag"></i> @ViewContext.RouteData.GetRequiredString("controller")</li>
        </ol>
    </section><!--section -->
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            @if (ViewBag.ErroMensagem != null)
            {
                <div class="row">
                    <div class="col-md-12 col-alert">
                        <div class="alert alert-danger">
                            @ViewBag.ErroMensagem
                            <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.Mensagem != null)
            {
                <div class="row">
                    <div class="col-md-12 col-alert">
                        <div class="alert alert-success">
                            @ViewBag.Mensagem
                            <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar jogo...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="Pesquisar" type="button">Pesquisar</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <br /><br />
        @if (Model != null && Model.Count > 0)
        {
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">Lista de jogos</h3>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Nome")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Desenvolvedora")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Ano de lançamento")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Gênero")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Inserido em:")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Data última modificação")
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @if (item.Novo == true)
                                            {
                                                <strong>@item.Nome</strong>
                                                <span class="label label-success">Novo</span>
                                            }
                                            else
                                            {
                                                @item.Nome
                                            }
                                        </td>
                                        <td>
                                            @if (item.Novo == true)
                                            {
                                                <strong>@item.Developer</strong>
                                            }
                                            else
                                            {
                                                @item.Developer
                                            }
                                        </td>
                                        <td>
                                            @if (item.Novo == true)
                                            {
                                                <strong>@item.Lancamento.Year</strong>
                                            }
                                            else
                                            {
                                                @item.Lancamento.Year
                                            }
                                        </td>
                                        <td>
                                            @if (item.Novo == true)
                                            {
                                                <strong>@item.Genero</strong>
                                            }
                                            else
                                            {
                                                @item.Genero
                                            }
                                        </td>
                                        <td>
                                            @if (item.Novo == true)
                                            {
                                                <strong>@item.Created.ToString("dd/MM/yyyy")</strong>
                                            }
                                            else
                                            {
                                                @item.Created.ToString("dd/MM/yyyy")
                                            }
                                        </td>
                                        <td>
                                            @if (item.Novo == true)
                                            {
                                                <strong>@(item.Modified != null ? item.Modified.Value.ToString("dd/MM/yyyy") : item.Created.ToString("dd/MM/yyyy"))</strong>
                                            }
                                            else
                                            {
                                                @(item.Modified != null ? item.Modified.Value.ToString("dd/MM/yyyy") : item.Created.ToString("dd/MM/yyyy"))
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-warning" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-primary" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Excluir", "Excluir", new { id = item.Id }, new { @class = "btn btn-danger btn-excluir" })
                                        </td>
                                    </tr>
                                    }

                                </table>
                            </div>
                        </div>
                        <div class="box-footer">
                            @Html.ActionLink("Cadastrar", "Cadastrar", null, new { @class = "btn btn-info pull-left" })
                            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
        }
        else
        {
            <div class="row">
                <div class="col-md-2">
                    @Html.ActionLink("Cadastrar", "Cadastrar", null, new { @class = "btn btn-info pull-left" })
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-lg-4">
                    <p>@ViewBag.ErroListaMensagem</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        }
    </section><!--section-->
</div><!--div-->