@model Antiguera.Administrador.Models.EmuladorModel

@{
    ViewBag.Title = "Cadastrar novo emulador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/bundles/bootstrap-datepicker")
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cadastrar novo emulador
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Emulador")"><i class="fa fa-dashboard"></i> @ViewContext.RouteData.GetRequiredString("controller")</a></li>
            <li class="active"><i class="fa fa-shopping-bag"></i> @ViewContext.RouteData.GetRequiredString("action")</li>
        </ol>
    </section><!--section -->

    <section class="content container-fluid">
        <div class="container">
            @using (Html.BeginForm("Cadastrar", "Emulador", FormMethod.Post, new { @class = "form-admin", enctype = "multipart/form-data" }))
            {

                if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    @Html.Partial("_AlertaErro")
                }

                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Nome)
                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", @autofocus = "autofocus" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Console)
                        @Html.TextBoxFor(x => x.Console, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Lancamento)
                        <div class="input-group date" data-provide="datepicker">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(x => x.Lancamento, new { @value = DateTime.Now.Date, @class = "form-control pull-right" })
                        </div>
                    </div>
                </div>
                <br />
                @*<div class="form-row">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.FilePrograma)
                        @Html.TextBoxFor(x => x.FilePrograma, new { @type = "file" })
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-5">
                        @Html.LabelFor(x => x.Descricao)
                        @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control", @rows = "5" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <button id="Salvar" class="btn btn-success btn-block" type="submit">Cadastrar</button>
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default btn-block" })
                    </div>
                </div>
            }

        </div> <!-- /container -->
    </section>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/js/bootstrap-datepicker")
}

