@model Antiguera.Administrador.ViewModels.EmuladorViewModel

@{
    ViewBag.Title = "Editar emulador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/bundles/bootstrap-datepicker")

    <style>
        .col-md-4 p {
            margin: 5px 75px -25px;
        }
    </style>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cadastrar novo emulador
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Emulador")"><i class="fa fa-dashboard"></i> @ViewContext.RouteData.GetRequiredString("controller")</a></li>
            <li class="active"><i class="fa fa-shopping-bag"></i> @ViewContext.RouteData.GetRequiredString("action")</li>
        </ol>
    </section><!--section -->

    <section class="content container-fluid">
        <div class="container">
            @using (Html.BeginForm("Editar", "Emulador", FormMethod.Post, new { @class = "form-admin", enctype = "multipart/form-data" }))
            {
                if (ViewBag.ErroMensagem != null)
                {
                    <div class="col-md-11">
                        <div class="alert alert-danger">
                            <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                            @ViewBag.ErroMensagem
                        </div>
                    </div>
                }

                if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="col-md-11">
                        <div class="alert alert-danger">
                            <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                            @Html.ValidationSummary(false, "Ocorreram os seguintes erros: ")
                        </div>
                    </div>
                }

                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.Created)
                @Html.HiddenFor(x => x.UrlArquivo)
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Nome)
                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", @autofocus = "autofocus" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Console)
                        @Html.TextBoxFor(x => x.Console, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.DataLancamento)
                        <div class="input-group date" data-provide="datepicker">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(x => x.DataLancamento, new { @class = "form-control pull-right" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    @if (!string.IsNullOrEmpty(Model.UrlArquivo))
                    {
                        <div class="col-md-4">
                            @Html.LabelFor(x => x.FileEmulador)
                            @Html.TextBoxFor(x => x.FileEmulador, new { @type = "file", @style = "display:none" })
                            <p id="textEmulator">@(Model.UrlArquivo.Split('/')[3])</p>
                            <button type="button" id="ClickEmulator" class="btn btn-primary">Alterar</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            @Html.LabelFor(x => x.FileEmulador)
                            @Html.TextBoxFor(x => x.FileEmulador, new { @type = "file" })
                        </div>
                    }
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        @Html.LabelFor(x => x.Descricao)
                        @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control", @rows = "5" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block" type="submit">Cadastrar</button>
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default btn-block" })
                    </div>
                </div>
            }

        </div> <!-- /container -->
    </section>
</div>

@section scripts {
    @Scripts.Render("~/bundles/js/bootstrap-datepicker")

    <script>
        $(".input-group.date").datepicker({
            format: "dd/mm/yyyy"
        });

        $("#ClickEmulator").on("click", function () {
            $("#FileEmulador").click();
        });

        $("#FileEmulador").change(function (e) {
            var fileName = e.target.files[0].name;
            $("#textEmulator").html(fileName);
        });
    </script>
}

