@model Antiguera.Administrador.Models.ProgramaModel

@{
    ViewBag.Title = "Cadastrar novo programa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/libraries/jquery.JCrop/jquery.JCrop.css")
    @Styles.Render("~/bundles/bootstrap-datepicker")
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cadastrar novo programa
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Programa")"><i class="fa fa-dashboard"></i> @ViewContext.RouteData.GetRequiredString("controller")</a></li>
            <li class="active"><i class="fa fa-shopping-bag"></i> @ViewContext.RouteData.GetRequiredString("action")</li>
        </ol>
    </section><!--section -->

    <section class="content container-fluid">
        <div class="container">
            @using (Html.BeginForm("Cadastrar", "Programa", FormMethod.Post, new { @class = "form-admin", enctype = "multipart/form-data" }))
            {
                if (ViewBag.ErroMensagem != null)
                {
                    <div class="col-md-11">
                        <div class="alert alert-danger">
                            <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                            @ViewBag.ErroMensagem
                        </div>
                    </div>
                }

                if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="col-md-11">
                        <div class="alert alert-danger">
                            <button type="button" class="close alert-close"><span aria-hidden="true">&times;</span></button>
                            @Html.ValidationSummary(false, "Ocorreram os seguintes erros: ")
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Nome)
                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", @autofocus = "autofocus" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Developer)
                        @Html.TextBoxFor(x => x.Developer, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Lancamento)
                        <div class="input-group date" data-provide="datepicker">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(x => x.Lancamento, new { @value = DateTime.Now.Date, @class = "form-control pull-right" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Tipo)
                        @Html.TextBoxFor(x => x.Tipo, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Publisher)
                        @Html.TextBoxFor(x => x.Publisher, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                @*<div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.FileBoxArt)
                        @Html.TextBoxFor(x => x.FileBoxArt, new { @type = "file" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.FilePrograma)
                        @Html.TextBoxFor(x => x.FilePrograma, new { @type = "file" })
                    </div>
                </div>*@
                <br />
                <div class="row">
                    <div class="col-md-5">
                        @Html.LabelFor(x => x.Descricao)
                        @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control", @rows = "5" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block" type="submit">Cadastrar</button>
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default btn-block" })
                    </div>
                </div>
            }

        </div> <!-- /container -->
    </section>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/libraries/jquery.JCrop/jquery.JCrop.js")"></script>
    @Scripts.Render("~/bundles/js/bootstrap-datepicker")
    <script src="@Url.Content("~/Scripts/libraries/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js")"></script>
    @Scripts.Render("~/bundles/js/core")
    <script type="text/javascript" src="@Url.Content("~/Scripts/programa/cadastrar.js")"></script>
}
